<header class="navbar navbar-fixed-top ">
  <div class="container">
    <nav>
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav navbar-left">
          <li><%= link_to "Home", root_path, class:"btn btn-default" %></li>
          <li><%= link_to current_user.email if user_signed_in? %></li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li><%= link_to "Sign Up", new_user_registration_path, class:"btn btn-default" %></li>
          <li><%= link_to "Dashboard", '#', class:"btn btn-default" %></li>
          <li><%= link_to "Schedule new session", '#', class:"btn btn-default" %></li>
          <li><%= link_to "Users", '#', class:"btn btn-default" %></li>
          <% if user_signed_in? %>
            <li><%= link_to "Log Out", destroy_user_session_path , class:"btn btn-default", method: :delete%> </li>
          <% end %>
          <% unless user_signed_in? %>
            <li><%= link_to "Log In", new_user_session_path, class:"btn btn-default", method: :get %> </li>
          <% end %>
        </ul>
      </div>
    </nav>
  </div>
</header>